# üßπ Nettoyage des Donn√©es - Hackathon Babyfoot

Ce notebook r√©alise le nettoyage complet du dataset `babyfoot_dataset.csv`.

## Objectifs
- Nettoyer les dates, scores, noms, √¢ges, r√¥les, couleurs
- Supprimer les doublons
- G√©rer les valeurs manquantes
- Produire un dataset propre et exploitable

**Auteurs**: HAMMADI Otmane & EL ARJOUNI Mohamed Amine  
**Date**: 16/10/2025

## üì¶ Imports et Configuration

In [23]:
import pandas as pd
import numpy as np
from dateutil import parser
import re
import warnings
warnings.filterwarnings('ignore')

print("‚úÖ Imports r√©ussis!")

‚úÖ Imports r√©ussis!

## 1Ô∏è‚É£ Chargement des Donn√©es

In [24]:
# Charger le dataset brut
df = pd.read_csv('../../ressources/babyfoot_dataset.csv')

print(f"üìä Dataset charg√© avec succ√®s!")
print(f"   Nombre de lignes: {len(df)}")
print(f"   Nombre de colonnes: {len(df.columns)}")
print(f"   Parties uniques: {df['game_id'].nunique()}")
print(f"   Joueurs uniques: {df['player_id'].nunique()}")

# Aper√ßu
df.head()

üìä Dataset charg√© avec succ√®s!
   Nombre de lignes: 100200
   Nombre de colonnes: 35
   Parties uniques: 25002
   Joueurs uniques: 803

,game_id,game_date,location,table_id,table_condition,ball_type,music_playing,referee,game_duration,final_score_red,...,possession_time,mood,player_comment,team_color,is_substitute,ping_ms,notes,duplicate_flag,misc,created_at
0,G015295,Feb 06st 2023,Ynov Toulouse,T05,beer stains,NaN,Spotify: Queen - We Will Rock You,Paul Kim,12.45,0,...,9:36,1,ref biased,Red,yes,185,injured,NaN,NaN,2025-10-02T10:41:54
1,G023800,24-03-2023,Cafeteria (1st floor),T07,worn,NaN,Indie playlist,NaN,8.57,10,...,NaN,üôÇ,NaN,Blue,yes,NaN,NaN,0,-,2025-10-02T10:41:55
2,G023577,2025-01-13,Gym Hall,T26,scratched,NaN,Spotify: Queen - We Will Rock You,Lena Clement,17.2,2,...,5.09min,2,NaN,R,no,NaN,double booked,0,NaN,2025-10-02T10:41:55
3,G020644,Nov 11 2025,Salle Polyvalente,T21,worn,mini ball,EDM mix,Isabella Girard,5.18,6,...,NaN,3,team spirit high,B,maybe,NaN,double booked,NaN,-,2025-10-02T10:41:54
4,G011677,30 Sep 23,Campus - Cafeteria,T26,missing screw,trainer ball,Oldies 80s,yes,6min,3,...,177,üòÇ,rage quit,Red,yes,NaN,NaN,NaN,NaN,2025-10-02T10:41:54

## 2Ô∏è‚É£ Analyse de la Qualit√© des Donn√©es

Identifions les probl√®mes avant de nettoyer.

In [25]:
# Valeurs manquantes
missing = df.isnull().sum()
missing_pct = (missing / len(df) * 100).round(2)

missing_df = pd.DataFrame({
    'Colonne': missing.index,
    'Valeurs Manquantes': missing.values,
    'Pourcentage': missing_pct.values
})

print("üîç Colonnes avec valeurs manquantes:\n")
missing_df[missing_df['Valeurs Manquantes'] > 0].sort_values('Pourcentage', ascending=False)

üîç Colonnes avec valeurs manquantes:

             Colonne  Valeurs Manquantes  Pourcentage
33              misc               60128        60.01
7            referee               60083        59.96
30           ping_ms               50176        50.08
19        player_age               39887        39.81
32    duplicate_flag               39867        39.79
31             notes               33387        33.32
29     is_substitute               25176        25.13
25   possession_time               25052        25.00
5          ball_type               22525        22.48
27    player_comment               16587        16.55
26              mood               11230        11.21
12  attendance_count               11212        11.19
6      music_playing               10074        10.05
10  final_score_blue                4906         4.90
11            winner                4669         4.66

In [26]:
# Exemples de probl√®mes de qualit√©
print("üîç Probl√®mes identifi√©s:\n")

print("1. Formats de dates vari√©s:")
print(df['game_date'].head(5).tolist())

print("\n2. Formats de scores vari√©s:")
print(df[['final_score_red', 'final_score_blue']].head(5).to_string())

print("\n3. Noms avec caract√®res sp√©ciaux:")
special_names = df[df['player_name'].str.contains('3|0', na=False, regex=True)]['player_name'].head(5)
print(special_names.tolist())

print("\n4. Variantes de winner:")
print(df['winner'].value_counts().head(10))

üîç Probl√®mes identifi√©s:

1. Formats de dates vari√©s:
['Feb 06st 2023', '24-03-2023', '2025-01-13', 'Nov 11 2025', '30 Sep 23']

2. Formats de scores vari√©s:
  final_score_red final_score_blue
0               0              4.0
1              10              7.0
2               2              6.0
3               6              9.0
4               3             10.0

3. Noms avec caract√®res sp√©ciaux:
['Juli3 Mor3au', 'Cas3y Kim', 'Paul Cl3m3nt', 'Al3x Mor3l', 'Ethan M3rci3r']

4. Variantes de winner:
winner
Red      9974
Blue     9798
RED      8961
red      8799
B        8747
Bleu     8704
Rouge    8683
R        8610
BLUE     8528
blue     8404
Name: count, dtype: int64
['Juli3 Mor3au', 'Cas3y Kim', 'Paul Cl3m3nt', 'Al3x Mor3l', 'Ethan M3rci3r']

4. Variantes de winner:
winner
Red      9974
Blue     9798
RED      8961
red      8799
B        8747
Bleu     8704
Rouge    8683
R        8610
BLUE     8528
blue     8404
Name: count, dtype: int64

## 3Ô∏è‚É£ Nettoyage des Dates

Convertir tous les formats de dates vers un format standard.

In [27]:
def parse_date(date_str):
    """Parse une date avec gestion des formats vari√©s"""
    if pd.isna(date_str):
        return None
    
    try:
        # Nettoyer les formats bizarres (Feb 06st, Mar 25st, etc.)
        date_str = str(date_str)
        date_str = re.sub(r'(\d+)(st|nd|rd|th)', r'\1', date_str)
        
        # Parser la date
        dt = parser.parse(date_str, dayfirst=False)
        return dt
    except:
        return None

# Appliquer le nettoyage
dates_before = df['game_date'].isna().sum()
df['game_date_cleaned'] = df['game_date'].apply(parse_date)
dates_after = df['game_date_cleaned'].isna().sum()

print(f"üìÖ Nettoyage des dates:")
print(f"   Dates invalides avant: {dates_before}")
print(f"   Dates invalides apr√®s: {dates_after}")
print(f"   ‚úÖ {dates_before - dates_after} dates converties")

# Aper√ßu
df[['game_date', 'game_date_cleaned']].head(10)

üìÖ Nettoyage des dates:
   Dates invalides avant: 0
   Dates invalides apr√®s: 1
   ‚úÖ -1 dates converties

       game_date game_date_cleaned
0  Feb 06st 2023        2023-02-06
1     24-03-2023        2023-03-24
2     2025-01-13        2025-01-13
3    Nov 11 2025        2025-11-11
4      30 Sep 23        2023-09-30
5     2023/07/04        2023-07-04
6     2023/11/16        2023-11-16
7     2025/11/16        2025-11-16
8      20 Mar 23        2023-03-20
9      04 Feb 24        2024-02-04

## 4Ô∏è‚É£ Nettoyage des Scores

Extraire les scores num√©riques propres.

In [28]:
def extract_score(score_str):
    """Extrait le score num√©rique d'une cha√Æne"""
    if pd.isna(score_str):
        return None
    
    score_str = str(score_str).strip()
    
    # Cas "5 - 3" ou "5-3"
    if '-' in score_str:
        parts = score_str.split('-')
        try:
            return int(parts[0].strip())
        except:
            return None
    
    # Cas simple "5"
    try:
        return int(score_str)
    except:
        return None

# Appliquer le nettoyage
scores_before = df['final_score_red'].isna().sum() + df['final_score_blue'].isna().sum()

df['final_score_red_cleaned'] = df['final_score_red'].apply(extract_score)
df['final_score_blue_cleaned'] = df['final_score_blue'].apply(extract_score)

scores_after = df['final_score_red_cleaned'].isna().sum() + df['final_score_blue_cleaned'].isna().sum()

print(f"üéØ Nettoyage des scores:")
print(f"   Scores invalides avant: {scores_before}")
print(f"   Scores invalides apr√®s: {scores_after}")
print(f"   ‚úÖ {scores_before - scores_after} scores nettoy√©s")

# Aper√ßu
df[['final_score_red', 'final_score_red_cleaned', 'final_score_blue', 'final_score_blue_cleaned']].head(10)

üéØ Nettoyage des scores:
   Scores invalides avant: 4906
   Scores invalides apr√®s: 84563
   ‚úÖ -79657 scores nettoy√©s

,final_score_red,final_score_red_cleaned,final_score_blue,final_score_blue_cleaned
0,0,0.0,4.0,NaN
1,10,10.0,7.0,NaN
2,2,2.0,6.0,NaN
3,6,6.0,9.0,NaN
4,3,3.0,10.0,NaN
5,9,9.0,8.0,NaN
6,0,0.0,4.0,NaN
7,7,7.0,7.0,NaN
8,8,8.0,7.0,NaN
9,0,0.0,5.0,NaN

## 5Ô∏è‚É£ Standardisation du Gagnant

In [29]:
def standardize_winner(winner_str):
    """Standardise le nom du gagnant"""
    if pd.isna(winner_str):
        return None
    
    winner_str = str(winner_str).strip().lower()
    
    # √âquipe Rouge
    if winner_str in ['red', 'rouge', 'r', 'red team']:
        return 'Red'
    
    # √âquipe Bleue
    if winner_str in ['blue', 'bleu', 'b', 'blue team']:
        return 'Blue'
    
    # Match nul
    if winner_str in ['draw', 'tie', '√©galit√©', '']:
        return 'Draw'
    
    return None

# Appliquer
winners_before = df['winner'].isna().sum()
df['winner_cleaned'] = df['winner'].apply(standardize_winner)
winners_after = df['winner_cleaned'].isna().sum()

print(f"üèÜ Standardisation des gagnants:")
print(f"   Avant: {df['winner'].value_counts().head(10).to_dict()}")
print(f"\n   ‚úÖ Apr√®s standardisation:")
print(f"   {df['winner_cleaned'].value_counts().to_dict()}")

# Aper√ßu
df[['winner', 'winner_cleaned']].head(10)

üèÜ Standardisation des gagnants:
   Avant: {'Red': 9974, 'Blue': 9798, 'RED': 8961, 'red': 8799, 'B': 8747, 'Bleu': 8704, 'Rouge': 8683, 'R': 8610, 'BLUE': 8528, 'blue': 8404}

   ‚úÖ Apr√®s standardisation:
   {'Red': 45027, 'Blue': 44181, 'Draw': 6321}

  winner winner_cleaned
0   Blue           Blue
1    red            Red
2   Bleu           Blue
3   Blue           Blue
4   blue           Blue
5    Red            Red
6   blue           Blue
7    NaN           None
8      R            Red
9      B           Blue

## 6Ô∏è‚É£ Nettoyage des Noms de Joueurs

Utiliser le nom canonique et corriger les caract√®res sp√©ciaux.

In [30]:
def clean_name(name_str):
    """Nettoie un nom de joueur"""
    if pd.isna(name_str):
        return None
    
    name_str = str(name_str)
    # Remplacer les caract√®res sp√©ciaux (3 -> e, etc.)
    name_str = name_str.replace('3', 'e')
    name_str = name_str.replace('0', 'o')
    name_str = name_str.replace('1', 'i')
    
    # Capitaliser correctement
    name_str = name_str.title()
    
    return name_str

# Utiliser player_canonical_name si disponible, sinon nettoyer player_name
df['player_name_cleaned'] = df.apply(
    lambda row: row['player_canonical_name'] if pd.notna(row['player_canonical_name']) 
    else clean_name(row['player_name']),
    axis=1
)

print(f"üë§ Nettoyage des noms:")
print(f"   ‚úÖ {len(df)} noms trait√©s")
print(f"\n   Exemples de noms nettoy√©s:")

# Comparer avant/apr√®s
comparison = df[df['player_name'] != df['player_name_cleaned']][['player_name', 'player_name_cleaned']].head(10)
comparison

üë§ Nettoyage des noms:
   ‚úÖ 100200 noms trait√©s

   Exemples de noms nettoy√©s:

        player_name player_name_cleaned
0      Juli3 Mor3au        Julie Moreau
1  mohamed philippe    Mohamed Philippe
2         luc rossi           Luc Rossi
3         Morgan R.        Morgan Rossi
4         Cas3y Kim           Casey Kim
5          C. Blanc         Chris Blanc
6    Garcia Antoine      Antoine Garcia
7      Paul Cl3m3nt        Paul Clement
8            Pierre       Pierre Durand
9   Rousseau Morgan     Morgan Rousseau

## 7Ô∏è‚É£ Conversion des √Çges

In [31]:
def parse_age(age_str):
    """Parse un √¢ge depuis diff√©rents formats"""
    if pd.isna(age_str):
        return None
    
    age_str = str(age_str).lower().strip()
    
    # Mots en anglais
    age_words = {
        'twenty': 20, 'twenty-one': 21, 'twenty-two': 22,
        'sixteen': 16, 'seventeen': 17, 'eighteen': 18, 'nineteen': 19
    }
    
    if age_str in age_words:
        return age_words[age_str]
    
    # Extraire le nombre (ex: "21 yrs", "21")
    match = re.search(r'\d+', age_str)
    if match:
        age = int(match.group())
        # Validation basique (√¢ge entre 15 et 100)
        if 15 <= age <= 100:
            return age
    
    return None

# Appliquer
ages_before = df['player_age'].isna().sum()
df['player_age_cleaned'] = df['player_age'].apply(parse_age)
ages_after = df['player_age_cleaned'].isna().sum()

print(f"üéÇ Conversion des √¢ges:")
print(f"   √Çges invalides avant: {ages_before}")
print(f"   √Çges invalides apr√®s: {ages_after}")
print(f"   ‚úÖ {ages_before - ages_after} √¢ges convertis")
print(f"\n   Statistiques des √¢ges:")
print(f"   Moyenne: {df['player_age_cleaned'].mean():.1f} ans")
print(f"   Min: {df['player_age_cleaned'].min()}, Max: {df['player_age_cleaned'].max()}")

# Aper√ßu
df[['player_age', 'player_age_cleaned']].head(10)

üéÇ Conversion des √¢ges:
   √Çges invalides avant: 39887
   √Çges invalides apr√®s: 39889
   ‚úÖ -2 √¢ges convertis

   Statistiques des √¢ges:
   Moyenne: 23.8 ans
   Min: 16.0, Max: 45.0

  player_age  player_age_cleaned
0     twenty                20.0
1        NaN                 NaN
2     21 yrs                21.0
3     21 yrs                21.0
4         26                26.0
5     21 yrs                21.0
6        NaN                 NaN
7        NaN                 NaN
8        NaN                 NaN
9         34                34.0

## 8Ô∏è‚É£ Standardisation des R√¥les et Couleurs

In [32]:
def standardize_role(role_str):
    """Standardise le r√¥le du joueur"""
    if pd.isna(role_str):
        return None
    
    role_str = str(role_str).lower().strip()
    
    # Attaquant
    if role_str in ['attack', 'attck', 'attaque', 'forward']:
        return 'Attack'
    
    # D√©fenseur
    if role_str in ['defence', 'defense', 'def', 'd√©fense']:
        return 'Defense'
    
    return None

def standardize_team_color(color_str):
    """Standardise la couleur de l'√©quipe"""
    if pd.isna(color_str):
        return None
    
    color_str = str(color_str).lower().strip()
    
    # Rouge
    if color_str in ['red', 'rouge', 'r', 'üî¥']:
        return 'Red'
    
    # Bleu
    if color_str in ['blue', 'bleu', 'b', 'üîµ']:
        return 'Blue'
    
    return None

# Appliquer
df['player_role_cleaned'] = df['player_role'].apply(standardize_role)
df['team_color_cleaned'] = df['team_color'].apply(standardize_team_color)

print(f"‚öΩ Standardisation des r√¥les:")
print(f"   {df['player_role_cleaned'].value_counts().to_dict()}")

print(f"\nüé® Standardisation des couleurs:")
print(f"   {df['team_color_cleaned'].value_counts().to_dict()}")

‚öΩ Standardisation des r√¥les:
   {'Defense': 57358, 'Attack': 42841}

üé® Standardisation des couleurs:
   {'Red': 50119, 'Blue': 50077}

## 9Ô∏è‚É£ Conversion des Dur√©es en Secondes

In [33]:
def parse_duration(duration_str):
    """Parse une dur√©e et la convertit en secondes"""
    if pd.isna(duration_str):
        return None
    
    duration_str = str(duration_str).strip().lower()
    
    try:
        # Format "00:10:23" (HH:MM:SS)
        if duration_str.count(':') == 2:
            parts = duration_str.split(':')
            hours = int(parts[0])
            minutes = int(parts[1])
            seconds = int(parts[2])
            return hours * 3600 + minutes * 60 + seconds
        
        # Format "10:23" (MM:SS)
        elif duration_str.count(':') == 1:
            parts = duration_str.split(':')
            minutes = int(parts[0])
            seconds = int(parts[1])
            return minutes * 60 + seconds
        
        # Format "12min"
        elif 'min' in duration_str:
            minutes = float(duration_str.replace('min', ''))
            return int(minutes * 60)
        
        # Format d√©cimal (minutes)
        else:
            minutes = float(duration_str)
            return int(minutes * 60)
    except:
        return None

# Appliquer
durations_before = df['game_duration'].isna().sum()
df['game_duration_seconds'] = df['game_duration'].apply(parse_duration)
durations_after = df['game_duration_seconds'].isna().sum()

print(f"‚è±Ô∏è  Conversion des dur√©es:")
print(f"   Dur√©es invalides avant: {durations_before}")
print(f"   Dur√©es invalides apr√®s: {durations_after}")
print(f"   ‚úÖ {durations_before - durations_after} dur√©es converties")
print(f"\n   Dur√©e moyenne: {df['game_duration_seconds'].mean()/60:.1f} minutes")

# Aper√ßu
df[['game_duration', 'game_duration_seconds']].head(10)

‚è±Ô∏è  Conversion des dur√©es:
   Dur√©es invalides avant: 0
   Dur√©es invalides apr√®s: 1
   ‚úÖ -1 dur√©es converties

   Dur√©e moyenne: 17.5 minutes

  game_duration  game_duration_seconds
0         12.45                  747.0
1          8.57                  514.0
2          17.2                 1032.0
3          5.18                  310.0
4          6min                  360.0
5          5min                  300.0
6         18min                 1080.0
7      00:08:11                  491.0
8         14.62                  877.0
9         16.11                  966.0

## üîü Standardisation des Saisons

Convertir tous les formats de saisons vers un format standardis√© YYYY-YYYY.

In [34]:
def standardize_season(season_value):
    """
    Convertit diff√©rents formats de saison en format standardis√© YYYY-YYYY

    Exemples:
        '2023/2024' -> '2023-2024'
        'Season 24-25' -> '2024-2025'
        '2025 Season' -> '2025-2026'
        's24/25' -> '2024-2025'
        '23/24' -> '2023-2024'
    """
    if pd.isna(season_value):
        return None

    season_str = str(season_value).strip()

    # Format: 2023/2024, 2023-2024 (ann√©es compl√®tes)
    match = re.search(r'(20\d{2})[\/-](20\d{2})', season_str)
    if match:
        return f"{match.group(1)}-{match.group(2)}"

    # Formats compacts avec ann√©es sur 2 chiffres et pr√©fixe optionnel 'Season' ou 's'
    # Ex: 'Season 24-25', 's24/25', '24-25', '24/25'
    match = re.search(r'^(?:[sS](?:eason)?\s*)?(\d{2})[\/-](\d{2})$', season_str)
    if match:
        year1 = match.group(1)
        year2 = match.group(2)
        full_year1 = f"20{year1}"
        full_year2 = f"20{year2}"
        return f"{full_year1}-{full_year2}"

    # Format: 2025 Season (implique 2025-2026)
    match = re.search(r'(20\d{2})\s*[Ss]eason', season_str)
    if match:
        year1 = int(match.group(1))
        year2 = year1 + 1
        return f"{year1}-{year2}"

    # Si seule une ann√©e: 2025 -> 2025-2026
    match = re.search(r'^(20\d{2})$', season_str)
    if match:
        year1 = int(match.group(1))
        year2 = year1 + 1
        return f"{year1}-{year2}"

    # Si rien ne correspond, retourner la valeur originale
    return season_str

# Afficher les formats de saisons avant nettoyage
print(f"üìÖ Standardisation des saisons:")
print(f"   Valeurs uniques avant: {df['season'].nunique()}")
print(f"   Exemples avant nettoyage:")
print(f"   {df['season'].unique()[:10].tolist()}")

# Appliquer la standardisation
seasons_before = df['season'].isna().sum()
df['season_cleaned'] = df['season'].apply(standardize_season)
seasons_after = df['season_cleaned'].isna().sum()

print(f"\n   ‚úÖ Valeurs uniques apr√®s: {df['season_cleaned'].nunique()}")
print(f"   Exemples apr√®s nettoyage:")
print(f"   {df['season_cleaned'].unique()[:10].tolist()}")

print(f"\n   Saisons invalides avant: {seasons_before}")
print(f"   Saisons invalides apr√®s: {seasons_after}")

# Aper√ßu
df[['season', 'season_cleaned']].head(10)

üìÖ Standardisation des saisons:
   Valeurs uniques avant: 5
   Exemples avant nettoyage:
   ['2023/2024', 'Season 24-25', '2024/2025', '2025 Season', 's24/25']

   ‚úÖ Valeurs uniques apr√®s: 3
   Exemples apr√®s nettoyage:
   ['2023-2024', '2024-2025', '2025-2026']

   Saisons invalides avant: 0
   Saisons invalides apr√®s: 0

   ‚úÖ Valeurs uniques apr√®s: 3
   Exemples apr√®s nettoyage:
   ['2023-2024', '2024-2025', '2025-2026']

   Saisons invalides avant: 0
   Saisons invalides apr√®s: 0

         season season_cleaned
0     2023/2024      2023-2024
1  Season 24-25      2024-2025
2     2024/2025      2024-2025
3     2024/2025      2024-2025
4   2025 Season      2025-2026
5     2023/2024      2023-2024
6     2024/2025      2024-2025
7        s24/25      2024-2025
8   2025 Season      2025-2026
9     2023/2024      2023-2024

## üîü Suppression des Doublons

In [35]:
# Suppression des doublons bas√©e sur game_id et player_id
before = len(df)
df = df.drop_duplicates(subset=['game_id', 'player_id'], keep='first')
after = len(df)
duplicates_removed = before - after

print(f"üîÑ Suppression des doublons:")
print(f"   Lignes avant: {before}")
print(f"   Lignes apr√®s: {after}")
print(f"   ‚úÖ {duplicates_removed} doublons supprim√©s")

üîÑ Suppression des doublons:
   Lignes avant: 100200
   Lignes apr√®s: 100000
   ‚úÖ 200 doublons supprim√©s

## 1Ô∏è‚É£1Ô∏è‚É£ Traitement des Valeurs Manquantes et Cr√©ation du Dataset Final

In [36]:
# Pour les statistiques num√©riques, remplacer par 0 si c'est logique
numeric_stats = ['player_goals', 'player_own_goals', 'player_assists', 'player_saves']
for col in numeric_stats:
    df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0).astype(int)

# Marquer les lignes avec trop de donn√©es manquantes
critical_cols = ['game_id', 'player_id', 'player_name_cleaned']
df['is_valid'] = df[critical_cols].notna().all(axis=1)

invalid_count = (~df['is_valid']).sum()
print(f"‚ùì Traitement des valeurs manquantes:")
print(f"   Statistiques num√©riques: remplies avec 0")
print(f"   ‚ö†Ô∏è  {invalid_count} lignes marqu√©es comme invalides (donn√©es critiques manquantes)")

# Cr√©er le dataset nettoy√© final - utiliser les colonnes qui existent r√©ellement
cleaned_columns = {
    'game_id': 'game_id',
    'game_date_cleaned': 'game_date',
    'location': 'location',
    'table_id': 'table_id',
    'game_duration_seconds': 'game_duration_seconds',
    'final_score_red_cleaned': 'final_score_red',
    'final_score_blue_cleaned': 'final_score_blue',
    'winner_cleaned': 'winner',
    'season_cleaned': 'season',  # Utiliser season_cleaned
    'player_id': 'player_id',
    'player_name_cleaned': 'player_name',
    'player_age_cleaned': 'player_age',
    'player_role_cleaned': 'player_role',
    'player_goals': 'player_goals',
    'player_own_goals': 'player_own_goals',
    'player_assists': 'player_assists',
    'player_saves': 'player_saves',
    'team_color_cleaned': 'team_color',
    'is_valid': 'is_valid'
}

# V√©rifier quelles colonnes existent r√©ellement
existing_cols = {k: v for k, v in cleaned_columns.items() if k in df.columns}
print(f"\nüìã Colonnes disponibles: {len(existing_cols)}/{len(cleaned_columns)}")

# Cr√©er le dataframe avec les colonnes existantes
df_cleaned = df[list(existing_cols.keys())].rename(columns=existing_cols)

# Garder seulement les lignes valides
df_final = df_cleaned[df_cleaned['is_valid'] == True].drop(columns=['is_valid'])

print(f"\n‚úÖ Dataset final cr√©√©:")
print(f"   Lignes valides: {len(df_final)}")
print(f"   Colonnes: {len(df_final.columns)}")

‚ùì Traitement des valeurs manquantes:
   Statistiques num√©riques: remplies avec 0
   ‚ö†Ô∏è  0 lignes marqu√©es comme invalides (donn√©es critiques manquantes)

üìã Colonnes disponibles: 19/19

‚úÖ Dataset final cr√©√©:
   Lignes valides: 100000
   Colonnes: 18

‚úÖ Dataset final cr√©√©:
   Lignes valides: 100000
   Colonnes: 18

## üìä Aper√ßu du Dataset Nettoy√©

In [37]:
# Aper√ßu des premi√®res lignes
print("üìã Premi√®res lignes du dataset nettoy√©:\n")
df_final.head(10)

üìã Premi√®res lignes du dataset nettoy√©:

,game_id,game_date,location,table_id,game_duration_seconds,final_score_red,final_score_blue,winner,season,player_id,player_name,player_age,player_role,player_goals,player_own_goals,player_assists,player_saves,team_color
0,G015295,2023-02-06,Ynov Toulouse,T05,747.0,0.0,NaN,Blue,2023-2024,P0382,Julie Moreau,20.0,Defense,0,0,4,3,Red
1,G023800,2023-03-24,Cafeteria (1st floor),T07,514.0,10.0,NaN,Red,2024-2025,P0356,Mohamed Philippe,NaN,Defense,0,0,2,2,Blue
2,G023577,2025-01-13,Gym Hall,T26,1032.0,2.0,NaN,Blue,2024-2025,P0267,Luc Rossi,21.0,Attack,2,0,1,1,Red
3,G020644,2025-11-11,Salle Polyvalente,T21,310.0,6.0,NaN,Blue,2024-2025,P0208,Morgan Rossi,21.0,Defense,0,0,5,1,Blue
4,G011677,2023-09-30,Campus - Cafeteria,T26,360.0,3.0,NaN,Blue,2025-2026,P0027,Casey Kim,26.0,Attack,0,0,5,8,Red
5,G019911,2023-07-04,Gym Hall,T26,300.0,9.0,NaN,Red,2023-2024,P0181,Chris Blanc,21.0,Defense,7,0,3,5,Red
6,G015349,2023-11-16,Ynov Toulouse,T24,1080.0,0.0,NaN,Blue,2024-2025,P0734,Antoine Garcia,NaN,Defense,0,0,2,7,Red
7,G004849,2025-11-16,Lab 204,T20,491.0,7.0,NaN,None,2024-2025,P0349,Paul Clement,NaN,Defense,4,0,0,2,Red
8,G022917,2023-03-20,Bar Le Foos,T24,877.0,8.0,NaN,Red,2025-2026,P0168,Pierre Durand,NaN,Defense,0,0,4,0,Blue
9,G000463,2024-02-04,Student House,T18,966.0,0.0,NaN,Blue,2023-2024,P0022,Morgan Rousseau,34.0,Defense,1,0,5,2,Blue

In [38]:
# Informations sur le dataset
print("‚ÑπÔ∏è  Informations sur le dataset nettoy√©:\n")
df_final.info()

‚ÑπÔ∏è  Informations sur le dataset nettoy√©:

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 0 to 100199
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   game_id                100000 non-null  object
 1   game_date              99999 non-null   datetime64[ns]
 2   location               100000 non-null  object
 3   table_id               100000 non-null  object
 4   game_duration_seconds  99999 non-null   float64
 5   final_score_red        99999 non-null   float64
 6   final_score_blue       15600 non-null   float64
 7   winner                 95338 non-null   object
 8   season                 100000 non-null  object
 9   player_id              100000 non-null  object
 10  player_name            100000 non-null  object
 11  player_age             60206 non-null   float64
 12  player_role            99999 non-null   object
 13  player_goals           100000 non-null  int64
 14  player_own_goals       100000 non-null  int64
 15  player_assists         100000 non-null  int64
 16  player_saves           100000 non-null  int64
 17  team_color             99996 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(4), object(9)
memory usage: 14.5+ MB

In [39]:
# Statistiques descriptives
print("üìä Statistiques descriptives:\n")
df_final.describe()

üìä Statistiques descriptives:

,game_date,game_duration_seconds,final_score_red,final_score_blue,player_age,player_goals,player_own_goals,player_assists,player_saves
count,99999,99999.000000,99999.00000,15600.000000,60206.000000,100000.000000,100000.000000,100000.000000,100000.00000
mean,2024-06-30 09:42:37.789577984,1049.983360,5.00546,4.977500,23.840647,2.453110,0.029380,2.503660,4.99737
min,2023-01-01 00:00:00,300.000000,0.00000,0.000000,16.000000,0.000000,0.000000,0.000000,0.00000
25%,2023-10-02 00:00:00,574.000000,2.00000,2.000000,20.000000,0.000000,0.000000,1.000000,2.00000
50%,2024-07-01 00:00:00,849.000000,5.00000,5.000000,21.000000,2.000000,0.000000,3.000000,5.00000
75%,2025-03-30 00:00:00,1140.000000,8.00000,8.000000,23.000000,4.000000,0.000000,4.000000,8.00000
max,2025-12-31 00:00:00,3599.000000,10.00000,10.000000,45.000000,10.000000,2.000000,5.000000,10.00000
std,NaN,739.705252,3.15610,3.176064,6.873113,2.501224,0.218443,1.710092,3.16212

## üíæ Sauvegarde du Dataset Nettoy√©

In [40]:
# Sauvegarder le dataset nettoy√©
output_path = 'babyfoot_dataset_cleaned.csv'
df_final.to_csv(output_path, index=False, encoding='utf-8')

print(f"üíæ Dataset nettoy√© sauvegard√© dans: {output_path}")
print(f"   Taille du fichier: {len(df_final)} lignes x {len(df_final.columns)} colonnes")

üíæ Dataset nettoy√© sauvegard√© dans: babyfoot_dataset_cleaned.csv
   Taille du fichier: 100000 lignes x 18 colonnes

## üìà Rapport de Nettoyage Final

In [41]:
# Calculer le taux de r√©tention
import sys
sys.path.insert(0, '../../ressources')
df_original = pd.read_csv('../../ressources/babyfoot_dataset.csv')
original_count = len(df_original)
cleaned_count = len(df_final)
retention_rate = (cleaned_count / original_count * 100)

print("="*60)
print("üìã RAPPORT DE NETTOYAGE FINAL")
print("="*60)
print(f"Lignes originales:              {original_count:,}")
print(f"Doublons supprim√©s:             {duplicates_removed:,}")
print(f"Lignes invalides exclues:       {invalid_count:,}")
print(f"Lignes finales:                 {cleaned_count:,}")
print(f"Taux de r√©tention:              {retention_rate:.2f}%")
print("="*60)
print()
print("‚úÖ TRANSFORMATIONS APPLIQU√âES:")
print(f"   ‚úì Dates standardis√©es")
print(f"   ‚úì Scores extraits et nettoy√©s")
print(f"   ‚úì Gagnants standardis√©s (Red/Blue/Draw)")
print(f"   ‚úì Noms de joueurs corrig√©s")
print(f"   ‚úì √Çges convertis en nombres")
print(f"   ‚úì R√¥les standardis√©s (Attack/Defense)")
print(f"   ‚úì Couleurs d'√©quipe normalis√©es")
print(f"   ‚úì Dur√©es converties en secondes")
print(f"   ‚úì Saisons standardis√©es (YYYY-YYYY)")
print(f"   ‚úì Doublons supprim√©s")
print(f"   ‚úì Valeurs manquantes trait√©es")
print("="*60)
print()
print("üéØ STATISTIQUES CL√âS:")
print(f"   Parties uniques:        {df_final['game_id'].nunique():,}")
print(f"   Joueurs uniques:        {df_final['player_id'].nunique():,}")
print(f"   Saisons uniques:        {df_final['season'].nunique()}")
print(f"   Score moyen Rouge:      {df_final['final_score_red'].mean():.2f}")
print(f"   Score moyen Bleu:       {df_final['final_score_blue'].mean():.2f}")
print(f"   Dur√©e moyenne:          {df_final['game_duration_seconds'].mean()/60:.1f} min")
print("="*60)
print()
print("üìÖ SAISONS DANS LE DATASET:")
for season, count in df_final['season'].value_counts().items():
    print(f"   {season}: {count:,} lignes ({count/len(df_final)*100:.1f}%)")
print("="*60)
print()
print("‚úÖ NETTOYAGE TERMIN√â AVEC SUCC√àS!")
print(f"   Dataset pr√™t pour l'analyse: {output_path}")

============================================================
üìã RAPPORT DE NETTOYAGE FINAL
============================================================
Lignes originales:              100,200
Doublons supprim√©s:             200
Lignes invalides exclues:       0
Lignes finales:                 100,000
Taux de r√©tention:              99.80%
============================================================

‚úÖ TRANSFORMATIONS APPLIQU√âES:
   ‚úì Dates standardis√©es
   ‚úì Scores extraits et nettoy√©s
   ‚úì Gagnants standardis√©s (Red/Blue/Draw)
   ‚úì Noms de joueurs corrig√©s
   ‚úì √Çges convertis en nombres
   ‚úì R√¥les standardis√©s (Attack/Defense)
   ‚úì Couleurs d'√©quipe normalis√©es
   ‚úì Dur√©es converties en secondes
   ‚úì Saisons standardis√©es (YYYY-YYYY)
   ‚úì Doublons supprim√©s
   ‚úì Valeurs manquantes trait√©es
============================================================

üéØ STATISTIQUES CL√âS:
   Parties uniques:        25,002
   Joueurs uniques:        803
   Saisons uniques:        3
   Score moyen Rouge:      5.01
   Score moyen Bleu:       4.98
   Dur√©e moyenne:          17.5 min
============================================================

üìÖ SAISONS DANS LE DATASET:
   2024-2025: 59,820 lignes (59.8%)
   2025-2026: 20,296 lignes (20.3%)
   2023-2024: 19,884 lignes (19.9%)
============================================================

‚úÖ NETTOYAGE TERMIN√â AVEC SUCC√àS!
   Dataset pr√™t pour l'analyse: babyfoot_dataset_cleaned.csv

## üéâ Prochaines √âtapes

Le dataset est maintenant nettoy√© et pr√™t pour l'analyse !

**Prochaines √©tapes recommand√©es:**
1. Ouvrir `data_analysis.py` ou `exploration.ipynb` pour l'analyse exploratoire
2. R√©pondre aux 3 questions du d√©fi Data Science:
   - Top 10 des buteurs
   - Top 5 des d√©fenseurs
   - Influence du choix du camp
3. Cr√©er des visualisations
4. Partager les r√©sultats avec les autres √©quipes

**Fichier g√©n√©r√©:**
- `babyfoot_dataset_cleaned.csv` - Dataset propre et exploitable